worker_processes 4;
pid /var/run/nginx.pid;

daemon off;

events {
	worker_connections 768;
	# multi_accept on;
}

http {
	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	keepalive_timeout 65;
	types_hash_max_size 2048;
	include /etc/nginx/mime.types;
	default_type application/octet-stream;

	access_log off; #/dev/stderr;
	error_log stderr; # debug;
	gzip off;

    server {
        listen 8000 default_server;
        listen [::]:8000 default_server ipv6only=on;
        client_max_body_size 0;

        server_name localhost;
        root /opt/app/infcloud;

        location = /config.js {
            rewrite ^ /_subapp_.config.js break;
            break;
        }

        location /api-offer/ {
            root /opt/app;
        }

        # radicale setup
        location /radicale {
            if ($http_x_sandstorm_permissions ~* (readonly|readwrite)) { set $user $1; }
            if ($http_x_sandstorm_user_id != '') { set $user 'owner'; }

            uwsgi_pass unix:///var/run/uwsgi.sock;
            include /etc/nginx/uwsgi_params;
            uwsgi_param REMOTE_USER $user;
            uwsgi_param HTTP_AUTHORIZATION '';
        }
        #dav discovery as per RFC6764
        location ~ ^/.well-known/(caldav|carddav) {
            rewrite ^ /radicale$request_uri last;
        }
    }
}