[logging]
debug = False
[server]
base_prefix = /radicale/
[auth]
type = remote_user
[rights]
type = from_file
file = /etc/radicale/rights
[storage]
filesystem_folder=/var/lib/radicale
[headers]
Access-Control-Allow-Origin = *
Access-Control-Allow-Methods = GET, POST, OPTIONS, PROPFIND, PROPPATCH, REPORT, PUT, MOVE, DELETE, LOCK, UNLOCK
Access-Control-Allow-Headers = User-Agent, Authorization, Content-type, Depth, If-match, If-None-Match, Lock-Token, Timeout, Destination, Overwrite, X-client, X-Requested-With
Access-Control-Expose-Headers = Etag