/** Hiding the CalDAV resources, since we only have one per grain **/
#resourceCalDAV_h, #ResourceCalDAVList, #resourceCalDAVTODO_h, #ResourceCalDAVTODOList, #timezoneWrapper {
    width: 0px;
}
#CalendarLoader, #CalendarLoaderTODO {
    left: 50px;
}
#main_h, #searchForm, #main, #main_h_TODO, #searchFormTODO, #mainTODO {
    left: 49px;
}
#calendarLine {
    display: none;
}

/** CardDAV **/
.resourcesCardDAV_d, #ResourceCardDAVList, #ResourceCardDAVListOverlay {
    width: 0px;
}
.collection_d, #SearchBox, #ABList, #ABListOverlay, #AddressbookOverlay {
    left: 50px;
}